fastapi>=0.119.0
uvicorn[standard]>=0.37.0
starlette>=0.38.6
aio-pika>=9.4
SQLAlchemy>=2.0
asyncpg>=0.29
pydantic>=2.6

pgvector>=0.2.4
psycopg[binary]>=3.1
# alembic
# psycopg2

# Just add X-Ray
aws-xray-sdk==2.12.0